.contact-grid {
    display: flex;
    flex-direction: row;
    gap: 3em;
    height: 100%;
    align-items: center;
}

.contact-item {
    aspect-ratio: 1/1;
}

.contact-icon {
    fill: var(--text);
    min-width: 2.2em;
    max-width: 2.4em;

    transition: all 300ms;
}

.contact-icon:hover {
    fill: var(--accent);
}

@media (max-width: 900px) {
    .contact-icon {
        min-width: 1.9em;
        max-width: 2.1em;
    }

    .contact-grid {
        gap: 2em;
    }
}

@media (max-width: 600px) {
    .contact-icon {
        min-width: 1.8em;
        max-width: 2em;
    }

    .contact-grid {
        gap: 1em;
    }
}