body {
    position: relative;
}

.theme-toggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-size: 2.3em;
    color: var(--text);
    transition: all 350ms;
}

.theme-toggle:hover {
    color: var(--accent);
}

.theme-toggle-div {
    position: absolute;
    top: 2em;
    right: 2em;
}

@media (max-width: 900px) {
    .theme-toggle {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    .theme-toggle {
        font-size: 1.7em;
    }
}